.idea/misc.xml
.idea/modules.xml
.idea/SSMA PyTorch.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml

src/results/*
src/data/*
src/__pycache__/loader.cpython-37.pyc
src/__pycache__/ssma.cpython-37.pyc
src/__pycache__/rep_unit.cpython-37.pyc
